@model tfzr_rsok_autosalon.Models.Manufacturers
@inject tfzr_rsok_autosalon.Services.IServices.IManufacturersService _manufacturersService

@{
    Layout = "_Layout";
}

<h2>Create new manufacturer</h2>
<form asp-controller="Manufacturers" asp-action="Add" method="post" enctype="multipart/form-data">
    <label asp-for="Name"></label>
    <br/>
    <input class="form-control" asp-for="Name" />


    <br/>
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
</form>